h1 {

    font-size: 12vh;
    touch-action: manipulation;
}

body {
    text-align: center;
    background-color: #2ECC71;
    font-size: 6vw;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    touch-action: manipulation;
}

button {
    align-items: center;
    background-color: #2ECC71; /* Green */
    border: none;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 2vw;
    width: 28vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    touch-action: manipulation;
    
}
button:hover {
    background-color: #27AE60; /* Green */
    color: rgb(255, 255, 255);
    width: 28vw;
    touch-action: manipulation;

  }

.counter {

    width: 10vw;
    touch-action: manipulation;

 }

