html {

    width: 100%; height: 100vh; overflow: hidden;
    touch-action: manipulation;

}


h1 {

    font-size: 12vh;

}

body {
    text-align: center;
    background-color: #2ECC71;
    font-size: 6vw;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

button {
    align-items: center;
    background-color: #2ECC71; /* Green */
    border: none;
    color: white;
    font-size: 1.4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: light;
    padding: 1.8vw;
    width: 28vw;



    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}
button:hover {
    background-color: #27AE60; /* Green */
    color: rgb(255, 255, 255);
    width: 28vw;


  }

.counter {

    width: 10vw;


 }
 .fade-in-text {

    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
