@media only screen and (max-width:480px) { 
}
html {

    touch-action: manipulation;

}


h1 {

    font-size: 12vh;

}

.gameStyle {
    text-align: center;
    background-color: #2ECC71;
    font-size: 8vh;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

button {
    
    align-items: center;
    background-color: #2ECC71; /* Green */
    border: none;
    color: white;
    font-size: 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1.5vw;
    width: 32vw;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
button:hover {
    background-color: #27AE60; /* Green */
    color: rgb(255, 255, 255);
    width: 32vw;



  }

.counter {

    width: 10vw;


 }
 .fade-in-text {

    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }

  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  p {
    font-size: 1.5vh;
    font-weight: 2;
    line-height: 50%;
 }




 
