html{
    text-align:center;
}
input {
    height: 6vh;
    float: right;
    margin-right: 3vh;
    margin-top: 2vh;
}
body{
    background-color: #2980b9;
    min-height: 100%}
.display{
    color: #ffffff;
    font-size: 5vh;
    padding-bottom: 5vh;
    padding-top: 15vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    padding-top: 3vh;

}

button {
    overflow:auto;
    border-radius: 5px;
    border: none;

    font-size: 2.5vh;
    background-color: #3498db; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    width: 45vh; /* Set a width if needed */
    height: 11vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
